@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alan+Sans:wght@300..900&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Geom:ital,wght@0,300..900;1,300..900&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Momo+Trust+Display&family=Momo+Trust+Sans:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Science+Gothic:wght@100..900&family=Sixtyfour+Convergence&family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Text:wght@200..700&family=Suez+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alan+Sans:wght@300..900&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Momo+Trust+Display&family=Momo+Trust+Sans:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Science+Gothic:wght@100..900&family=Sixtyfour+Convergence&family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Text:wght@200..700&family=Suez+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alan+Sans:wght@300..900&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Geom:ital,wght@0,300..900;1,300..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Momo+Trust+Display&family=Momo+Trust+Sans:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Science+Gothic:wght@100..900&family=Sixtyfour+Convergence&family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Text:wght@200..700&family=Suez+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}
/* -- Este código é protegido pelos direitos altorais, não deve ser usado e nem copiado 
sem a altorização do altor.-- */


:root {
    --letra: 'Rubik', Arial, Helvetica, sans-serif;
    --title: 'Playfair Display', Arial, Helvetica, sans-serif;
    --cor1: rgb(179, 79, 255);
    --cor2: rgb(67, 65, 0);
    --fundo: black;
}

html {
    font-size: 1.2vw;
    margin-top: 0;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding-top: 0;
    color: white;
    background-color: var(--fundo);
}h1 {
    font-size: 5rem;
    font-family: var(--letra), Arial, Helvetica, sans-serif;
    letter-spacing: 0.4rem;
    color: var(--cor1);
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.4rem;
}section {
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
}a {
    transition: 0.3s;
    text-decoration: none;
    color: black;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    font-size: 1.6rem;
    text-align: center;
}
a:hover {
    transform: scale(1.05);
}

.titulo {
    text-align: center;
    font-family: var(--letra);
    color: var(--cor1);
    text-transform: uppercase;
    padding-top: 2rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

#aviso {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: black;
    z-index: 10000;
    border: 0.2rem solid var(--cor1);
    animation: aviso 5s linear;
    img {
        width: 5rem;
        height: 5rem;
        border-radius: 0.5rem;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        h3 {
            color: var(--cor1);
            font-family: var(--letra);
        }
    }   
}@keyframes aviso {
    0% {
        transform: translate(-50%, 0%);
        opacity: 0;
    }
    40% {
        transform: translate(-50%, 30%);
        opacity: 1;
    }
    60% {
        transform: translate(-50%, 30%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 0%);
        opacity: 0;
    }
}
span {
        color: var(--cor1);
    }
#inicio {
    display: flex;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}.img-inicio {
    position: absolute;
    bottom: 0;
    right: 2rem;
    width: 45%;
    z-index: -10;
    img {
        width: 100%;
        filter: drop-shadow(0 0 0.2rem var(--cor1));
        transform: translateY(1rem);
        z-index: -10;
    }
}.texto-inicio {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    padding-top: 7.5rem;
    width: 100%;
    padding-left: 20rem;
    padding-right: 20rem;
    h3 {
        font-family: var(--title);
        letter-spacing: 0.2rem;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        font-weight: bold;
        border-radius: 0.5rem;
        background-color: var(--cor1);
        text-transform: uppercase;
        color: white;
        width: 70%;
        padding: 1rem;
        margin: 0 auto;
    }
    div {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0 auto;
        img {
            height: 5rem;
        }
    }
}


#catalogo {
    display: flex;
    align-items: stretch;
    width: 80%;
    margin: 2rem auto;
    overflow-x: scroll;
    padding: 1rem;
    gap: 2rem;
    padding-top: 5rem;
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        background-color: var(--cor1);
        padding: 2rem;
        position: relative;
        padding-top: 8rem;
        width: 40%;
        flex: none;
        border-radius: 0.5rem;
        img {
            position: absolute;
            width: 10rem;
            height: 10rem;
            top: 0;
            left: 1.5rem;
            transform: translateY(-25%);
            border: 0.5rem solid var(--cor1);
            border-radius: 50%;
        }
        a {
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            background-color: white;
            color: var(--cor1);
            border-radius: 0.5rem;

        }
    }
}::-webkit-scrollbar {
    display: none;
}


#sobre {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    gap: 5%;
}.img-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    }
    div {
        position: absolute;
        padding: 1rem;
        background-color: var(--cor1);
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 1rem;
        text-align: center;
        justify-content: center;
        p {
            font-size: 1rem;
        }
    }
}.img-sobre::before {
    content: "";
    z-index: -1;
    background-color: var(--cor1);
    position: absolute;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.i2 {
    top: 1rem;
    right: -5rem;
    width: 60%;
}.i3 {
    bottom: 1rem;
    right: -5rem;
    width: 70%;
}.i1 {
    top: 50%;
    right: -5rem;
    transform: translateY(-50%);
    width: 65%;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div {
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: var(--cor1);
        font-weight: bold;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        transition: 0.2s;
    }div:hover {
        transform: scale(1.05);
    }span {
        color: var(--cor1);
        font-family: var(--title);
        letter-spacing: 0.2rem;
    }
}

.fundo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
    opacity: 0.2;
    left: 0;
    top: 0;
}

.faixa {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 3rem;
    background-color: var(--cor1);
    padding: 1rem;
    padding-left: 8rem;
    padding-right: 8rem;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: white;
        border-radius: 0.5rem;
        font-weight: bold;
        padding: 0.5rem;
        color: var(--cor1);
    }
}


.cta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    margin: 1rem;
    h3 {
        font-family: var(--letra);
        padding-left: 5rem;
        padding-right: 5rem;
        text-align: center;
    }a {
        background-color: var(--cor1);
        padding: 1rem;
        border-radius: 0.5rem;
        color: white;
        width: 60%;
        margin: 0 auto;
        font-weight: bold;
    }
}


#produtos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    .pro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem; 
        padding: 2rem;
        background-color: var(--cor1);
        text-align: center;
        border-radius: 0.5rem;
        img {
            width: 100%;
            border-radius: 0.5rem;
        }
    }
}

#pag {
    display: grid;
    grid-template-columns: 60% 37.5%;
    gap: 2.5%;
    align-items: center;
}.img-pag {
    width: 100%;
    img {
        width: 100%;
        filter: drop-shadow(0 0 0.5rem var(--cor1));
    }
}.texto-pag {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2 {
        font-family: var(--letra);
        color: var(--cor1);
        padding-bottom: 2rem;
    }
}


#info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    padding: 1.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: var(--cor1);
    border-radius: 1rem;
}.img-info {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        object-fit: cover;
    }
    i {
        width: 5rem;
        height: 5rem;
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 3rem;
        transform: translateY(-50%);
        z-index: 100;
        border-radius: 0.5rem;
        background-color: var(--fundo);
        border: 0.2rem solid var(--cor1);
    }
}.texto-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        a {
            text-align: initial;
            display: flex;
            align-items: center;
            gap: 1rem;
            text-decoration: underline;
            color: white;
            i {
                text-decoration: none;
            }
        }a:hover {
            transform: scale(1);
        }
    }

}

#cliente {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    row-gap: 3rem;
}.cli {
    display: flex;
    position: relative;
    padding: 1.5rem;
    border: 0.2rem solid var(--cor1);
    border-radius: 1rem;
    padding-top: 3rem;
    .no {
        display: flex;
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        background-color: var(--cor1);
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}


  
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    font-weight: bold;
    padding: 2rem;
    margin-top: 2rem;
    background-color: var(--cor1);
    color: white;
    font-size: 1.4rem;
    text-align: center;
}.redes-foo {
    display: flex;
    gap: 2rem;
    align-items: center;
    a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;
    }
}


/* -- Responsividade para dispositivos moveis -- */
@media (min-width: 768px) and (max-width: 1024px) {
html { 
    font-size: 1.9vw;
}
section {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 0;
}a:hover {
    transform: scale(1.0);
}h2 {
    font-size: 2.4rem;
}h3{
    font-size: 2rem;
}a {
    font-size: 1.6rem;
}p {
    font-size: 1.4rem;
}
#aviso {
    width: 60%;
    img {
        width: 8rem;
        height: 8rem;
    }
}
#inicio {
    align-items: center;
}.texto-inicio {
    padding-top: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    a {
        padding: 1.5rem 1rem;
    }
    div {
        img {
            height: 6rem;
        }
    }
}


#catalogo {
    padding-top: 5rem;
    div {
        padding-top: 10rem;
        width: 65%;
        img {
            width: 12rem;
            height: 12rem;
        }
    }
}


#sobre {
    grid-template-columns: auto;
    gap: 5rem;
    margin-top: 3rem;
}.img-sobre {
    order: 1;
    transform: translateX(-2rem);
    div {
        p,i {
            font-size: 1.8rem;
        }
    }
}

.texto-sobre {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    order: 2;
    h2 {
        font-size: 3rem;
    }
    div {
        font-size: 1.8rem;
    }div:hover {
        transform: scale(1);
    }
}

.faixa {
    gap: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
}


.cta {
    h3 {
        padding-left: 0rem;
        padding-right: 0rem;
    }a {
        font-size: 2rem;
        width: 80%;
    }
}


#produtos {
    grid-template-columns: auto;
    gap: 2rem;
    .pro {
        gap: 1rem; 
        width: 70%;
        margin: 0 auto;
    }
}

#pag {
    grid-template-columns: auto;
    gap: 2rem;
}.img-pag {
    width: 70%;
    margin: 0 auto;
}
#info {
    grid-template-columns: auto;
    gap: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 3rem;
}.img-info {
    width: 80%;
    margin: 0 auto;
}.texto-info {
    text-align: center;
    div {
        a {
            margin: 0 auto;
        }
    }

}

#cliente {
    grid-template-columns: auto;
    row-gap: 4rem;
    margin-top: 3rem;
}
.titulo {
    padding-left: 5rem;
    padding-right: 5rem;
}
}


@media (max-width: 767px) {
html {
    font-size: 2.7vw;
}
section {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 0;
}a:hover {
    transform: scale(1.0);
}h2 {
    font-size: 2rem;
}h3{
    font-size: 1.8rem;
}a {
    font-size: 1.6rem;
}p {
    font-size: 1.4rem;
}

#aviso {
    width: 80%;
    img {
        width: 8rem;
        height: 8rem;
    }
}
#inicio {
    align-items: center;
}.texto-inicio {
    padding-top: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    a {
        width: 100%;
        padding: 1rem 2rem;
    }
    div {
        flex-direction: column;
        gap: 2rem;
        img {
            height: 8rem;
        }
    }
}


#catalogo {
    padding-top: 5rem;
    div {
        padding-top: 10rem;
        width: 100%;
        img {
            width: 12rem;
            height: 12rem;
        }
    }
}


#sobre {
    grid-template-columns: auto;
    gap: 5rem;
    margin-top: 3rem;
}.img-sobre {
    order: 1;
    div {
        p,i {
            font-size: 1.2rem;
        }
    }
}.i1 {
    right: -2rem;
}.i2 {
    right: -2rem;
}.i3 {
    right: -2rem;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    order: 2;
    h2 {
        font-size: 3rem;
    }
    div {
        font-size: 1.8rem;
    }div:hover {
        transform: scale(1);
    }
}

.faixa {
    grid-template-columns: auto;
    gap: 1rem;
    padding-left: 8rem;
    padding-right: 8rem;
}


.cta {
    h3 {
        padding-left: 0rem;
        padding-right: 0rem;
    }a {
        font-size: 2rem;
        width: 100%;
    }
}


#produtos {
    grid-template-columns: auto;
    gap: 2rem;
    .pro {
        gap: 1rem; 
        width: 90%;
        margin: 0 auto;
    }
}

#pag {
    grid-template-columns: auto;
    gap: 2rem;
}.img-pag {
    width: 70%;
    margin: 0 auto;
}
#info {
    grid-template-columns: auto;
    gap: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
}.img-info {
    width: 80%;
    margin: 0 auto;
}.texto-info {
    text-align: center;
    div {
        a {
            margin: 0 auto;
        }
    }

}

#cliente {
    grid-template-columns: auto;
    row-gap: 4rem;
    margin-top: 3rem;
}
.titulo {
    padding-left: 5rem;
    padding-right: 5rem;
}
}
